.infoparent{
    display: flex;
    align-items: end;
    
    justify-content: center;   
    gap: 10rem; 
    background-color: rgb(19, 190, 190);
    
}

 p{
    font-size: 18px;
}
.number , .email, .location{
    display: flex;
    align-items: start;
}

.search{
    display: none;
}


@media (max-width:576px)  {
    .infoparent{
        display: none;
    }
}

@media screen and (max-width: 768px) and (max-width: 1024px) {
    /* Styles for iPads in portrait mode */
    .search{
        display: flex;
    }
  }
  